<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<!-- navbar.html -->
<nav>
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/customer-queries/list}">Customer Queries</a></li>
        <li><a th:href="@{/query_Transactions/list}">Query Transactions</a></li>
        <li><a th:href="@{/employees/list}">Employees</a></li>
        <li><a th:href="@{/customers/list}">Customers</a></li>
        <li><a th:href="@{/contact}">Contact</a></li>
        <li><a th:href="@{/about}">About</a></li>
    </ul>
</nav>
</body>
</html>