<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create or Edit Employee</title>
    <link th:href="@{/css/form.css}" rel="stylesheet">
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/index.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<h1 th:text="${employee.id != null ? 'Edit Employee' : 'Create Employee'}"></h1>

<form th:action="@{/employees/save}" th:object="${employee}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label for="name">Name</label>
    <input type="text" id="name" th:field="*{name}" required />

    <label for="email">Email</label>
    <input type="email" id="email" th:field="*{email}" required />

    <label for="department">Department</label>
    <select id="department" th:field="*{department}" required>
        FINANCE,
        IT,
        MARKETING,
        SALES,
        OPERATIONS,
        HR
        <option th:value="FINANCE">FINANCE</option>
        <option th:value="IT">IT</option>
        <option th:value="MARKETING">MARKETING</option>
        <option th:value="SALES">SALES</option>
        <option th:value="FURNITURE">FURNITURE</option>
        <option th:value="OPERATIONS">OPERATIONS</option>
        <option th:value="HR">HR</option>
    </select>
    <label for="description">Description</label>
    <input type="text" id="description" th:field="*{description}" required />

    <label for="rating">Rating</label>
    <input type="text" id="rating" th:field="*{rating}" required />

<!--    <label for="role">Role</label>-->
<!--    <select id="role" th:field="*{role}" required>-->
<!--        <option th:value="ADMIN">Admin</option>-->
<!--        <option th:value="EMPLOYEE">Employee</option>-->
<!--    </select>-->

    <button type="submit">Save Employee</button>
</form>

<a th:href="@{/employees}">Back to Employee List</a>
</body>
</html>